-- =====================================================
-- Portal Gestión Humana - Database Schema
-- =====================================================
-- Sistema de Gestión de Recursos Humanos
-- Versión: 2.0
-- Autor: Ricardo Hernández
-- Fecha: 2026-02-16
-- =====================================================

-- TABLAS INCLUIDAS:
-- 1.  usuarios              - Empleados y administradores del sistema
-- 2.  vacantes              - Ofertas de trabajo activas
-- 3.  postulaciones         - Candidatos que aplican a vacantes
-- 4.  documentos            - Archivos subidos por administradores
-- 5.  documentos_usuarios   - Archivos subidos por usuarios
-- 6.  notificaciones        - Sistema de comunicación interna
-- 7.  notificaciones_usuarios - Destinatarios específicos
-- 8.  notificaciones_archivos - Adjuntos de notificaciones
-- 9.  notificaciones_leidas - Estado de lectura
-- 10. notificaciones_respuestas - Respuestas de usuarios
-- 11. historial_accesos     - Auditoría de login/logout
-- 12. codigos_2fa           - Códigos de autenticación 2 factores
-- 13. bloqueos_acceso       - Protección contra fuerza bruta
-- 14. password_resets       - Tokens de recuperación de contraseña

-- =====================================================
-- CONFIGURACIÓN INICIAL
-- =====================================================

CREATE DATABASE IF NOT EXISTS `gestionhumana` 
  DEFAULT CHARACTER SET utf8mb4 
  COLLATE utf8mb4_unicode_ci;

USE `gestionhumana`;

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- =====================================================
-- TABLA: usuarios
-- Almacena empleados y administradores del sistema
-- =====================================================
DROP TABLE IF EXISTS `usuarios`;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `apellido` varchar(255) DEFAULT NULL,
  `cargo` varchar(255) DEFAULT NULL,
  `area` varchar(255) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `cumple` date DEFAULT NULL,
  `acerca_de_mi` text,
  `rol` varchar(50) DEFAULT 'usuario' COMMENT 'Valores: usuario, admin, administrador',
  `tiene_2fa` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Autenticación de doble factor habilitada',
  `secreto_2fa` text DEFAULT NULL COMMENT 'Secreto TOTP cifrado con AES-256-CBC (para Google/Microsoft Authenticator)',
  `telefono` varchar(15) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `estado_civil` varchar(50) DEFAULT NULL,
  `emergencia_contacto` varchar(255) DEFAULT NULL,
  `emergencia_telefono` varchar(15) DEFAULT NULL,
  `fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: vacantes
-- Ofertas de trabajo publicadas
-- =====================================================
DROP TABLE IF EXISTS `vacantes`;
CREATE TABLE `vacantes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  `ciudad` varchar(100) DEFAULT NULL,
  `fecha_publicacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: postulaciones
-- Candidatos que aplican a vacantes desde el portal público
-- =====================================================
DROP TABLE IF EXISTS `postulaciones`;
CREATE TABLE `postulaciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `tipo_documento` enum('CC','CE','TI','Pasaporte') NOT NULL COMMENT 'CC=Cédula, CE=Extranjería, TI=Tarjeta Identidad',
  `numero_documento` varchar(50) NOT NULL,
  `correo` varchar(255) NOT NULL,
  `archivo` varchar(255) NOT NULL COMMENT 'Ruta al PDF de la hoja de vida',
  `vacante_id` int NOT NULL,
  `fecha_postulacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uc_postulacion` (`numero_documento`,`vacante_id`) COMMENT 'Un candidato solo puede aplicar una vez por vacante',
  KEY `fk_postulacion_vacante` (`vacante_id`),
  CONSTRAINT `fk_postulacion_vacante` FOREIGN KEY (`vacante_id`) REFERENCES `vacantes` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: documentos
-- Archivos subidos por administradores (recursos, banco HV)
-- =====================================================
DROP TABLE IF EXISTS `documentos`;
CREATE TABLE `documentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_archivo` varchar(255) NOT NULL,
  `nombre_original` varchar(255) NOT NULL,
  `ruta_archivo` varchar(500) NOT NULL,
  `tipo_seccion` enum('recursos','archivo') NOT NULL,
  `tipo_documento` varchar(100) NOT NULL,
  `tamano_archivo` int NOT NULL,
  `fecha_subida` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `subido_por` varchar(100) DEFAULT 'admin',
  `descripcion` text,
  PRIMARY KEY (`id`),
  KEY `idx_tipo_seccion` (`tipo_seccion`),
  KEY `idx_fecha_subida` (`fecha_subida`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: documentos_usuarios
-- Archivos personales subidos por cada usuario
-- =====================================================
DROP TABLE IF EXISTS `documentos_usuarios`;
CREATE TABLE `documentos_usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `tipo_documento` enum('hoja_vida','certificado','certificacion','experiencia_laboral','otros') NOT NULL,
  `nombre_original` varchar(255) NOT NULL,
  `nombre_archivo` varchar(255) NOT NULL,
  `ruta_archivo` varchar(500) NOT NULL,
  `tamano_archivo` int NOT NULL,
  `fecha_subida` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `estado` enum('activo','inactivo') DEFAULT 'activo',
  `descripcion` text,
  PRIMARY KEY (`id`),
  KEY `idx_usuario_tipo` (`usuario_id`,`tipo_documento`),
  KEY `idx_fecha_subida` (`fecha_subida`),
  CONSTRAINT `documentos_usuarios_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: notificaciones
-- Sistema de comunicación interna
-- =====================================================
DROP TABLE IF EXISTS `notificaciones`;
CREATE TABLE `notificaciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL COMMENT 'Título de la notificación',
  `cuerpo` mediumtext NOT NULL COMMENT 'Contenido HTML de la notificación',
  `destino` enum('especificos','administradores','regulares','todos') NOT NULL,
  `prioridad` enum('baja','media','alta') NOT NULL DEFAULT 'media',
  `permitir_respuesta` tinyint(1) NOT NULL DEFAULT '0',
  `estado` enum('activa','archivada') NOT NULL DEFAULT 'activa',
  `autor_id` int NOT NULL,
  `fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_autor` (`autor_id`),
  KEY `idx_estado` (`estado`),
  KEY `idx_destino` (`destino`),
  CONSTRAINT `fk_notificacion_autor` FOREIGN KEY (`autor_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: notificaciones_usuarios
-- Destinatarios específicos de notificaciones
-- =====================================================
DROP TABLE IF EXISTS `notificaciones_usuarios`;
CREATE TABLE `notificaciones_usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `notificacion_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_notificacion_usuario` (`notificacion_id`,`usuario_id`),
  KEY `idx_usuario` (`usuario_id`),
  CONSTRAINT `fk_notif_usuario_notificacion` FOREIGN KEY (`notificacion_id`) REFERENCES `notificaciones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_notif_usuario_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: notificaciones_archivos
-- Archivos adjuntos en notificaciones
-- =====================================================
DROP TABLE IF EXISTS `notificaciones_archivos`;
CREATE TABLE `notificaciones_archivos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `notificacion_id` int NOT NULL,
  `nombre_original` varchar(255) NOT NULL,
  `nombre_archivo` varchar(255) NOT NULL,
  `ruta_archivo` varchar(500) NOT NULL,
  `tamano` int NOT NULL,
  `tipo_mime` varchar(100) NOT NULL,
  `fecha_subida` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_notificacion` (`notificacion_id`),
  CONSTRAINT `fk_notif_archivo_notificacion` FOREIGN KEY (`notificacion_id`) REFERENCES `notificaciones` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: notificaciones_leidas
-- Estado de lectura de notificaciones por usuario
-- =====================================================
DROP TABLE IF EXISTS `notificaciones_leidas`;
CREATE TABLE `notificaciones_leidas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `notificacion_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  `fecha_lectura` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `eliminada` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Si el usuario eliminó la notificación de su bandeja',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_notificacion_usuario` (`notificacion_id`,`usuario_id`),
  KEY `idx_usuario` (`usuario_id`),
  CONSTRAINT `fk_notif_leida_notificacion` FOREIGN KEY (`notificacion_id`) REFERENCES `notificaciones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_notif_leida_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: notificaciones_respuestas
-- Respuestas de usuarios a notificaciones
-- =====================================================
DROP TABLE IF EXISTS `notificaciones_respuestas`;
CREATE TABLE `notificaciones_respuestas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `notificacion_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  `respuesta` mediumtext NOT NULL,
  `archivo_nombre` varchar(255) DEFAULT NULL,
  `archivo_ruta` longtext,
  `fecha_respuesta` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_notificacion` (`notificacion_id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_fecha` (`fecha_respuesta`),
  CONSTRAINT `fk_notif_respuesta_notificacion` FOREIGN KEY (`notificacion_id`) REFERENCES `notificaciones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_notif_respuesta_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: historial_accesos
-- Auditoría de login/logout del sistema
-- =====================================================
DROP TABLE IF EXISTS `historial_accesos`;
CREATE TABLE `historial_accesos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `fecha_acceso` datetime DEFAULT CURRENT_TIMESTAMP,
  `ip_acceso` varchar(45) NOT NULL,
  `dispositivo` varchar(255) DEFAULT NULL COMMENT 'User-Agent del navegador',
  `navegador` varchar(255) DEFAULT NULL,
  `exito` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=exitoso, 0=fallido',
  `detalles` text COMMENT 'Descripción adicional del evento',
  PRIMARY KEY (`id`),
  KEY `idx_historial_usuario` (`usuario_id`),
  KEY `idx_usuario_fecha` (`usuario_id`,`fecha_acceso`),
  KEY `idx_fecha` (`fecha_acceso`),
  KEY `idx_exito` (`exito`),
  CONSTRAINT `historial_accesos_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: codigos_2fa
-- Códigos temporales para autenticación de 2 factores
-- =====================================================
DROP TABLE IF EXISTS `codigos_2fa`;
CREATE TABLE `codigos_2fa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `codigo` varchar(10) NOT NULL COMMENT 'Código enmascarado (******)',
  `codigo_hash` varchar(255) NOT NULL COMMENT 'Hash del código real',
  `creado_en` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `expira_en` datetime NOT NULL COMMENT 'Expira 5 minutos después de creación',
  `usado` tinyint(1) NOT NULL DEFAULT '0',
  `intentos` int NOT NULL DEFAULT '0' COMMENT 'Máximo 5 intentos',
  `ip_solicitud` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_usuario_id` (`usuario_id`),
  KEY `idx_expira_en` (`expira_en`),
  CONSTRAINT `fk_codigos_2fa_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: bloqueos_acceso
-- Protección contra ataques de fuerza bruta
-- =====================================================
DROP TABLE IF EXISTS `bloqueos_acceso`;
CREATE TABLE `bloqueos_acceso` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ip` varchar(45) NOT NULL,
  `email` varchar(255) NOT NULL,
  `intentos` int NOT NULL DEFAULT '1' COMMENT 'Máximo 5 antes de bloqueo',
  `ultimo_intento` datetime NOT NULL,
  `bloqueado_hasta` datetime DEFAULT NULL COMMENT 'Tiempo de bloqueo (15 min)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ip_email` (`ip`,`email`),
  KEY `ip` (`ip`),
  KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- TABLA: password_resets
-- Tokens para recuperación de contraseña
-- =====================================================
DROP TABLE IF EXISTS `password_resets`;
CREATE TABLE `password_resets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token_hash` varchar(255) NOT NULL COMMENT 'Hash SHA256 del token',
  `expires_at` datetime NOT NULL COMMENT 'Expira en 1 hora',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_token_hash` (`token_hash`),
  CONSTRAINT `password_resets_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =====================================================
-- RESTAURAR CONFIGURACIÓN
-- =====================================================
SET FOREIGN_KEY_CHECKS = 1;

-- =====================================================
-- DATOS DE EJEMPLO (OPCIONAL)
-- Descomenta las siguientes líneas para insertar datos demo
-- =====================================================

-- Crear usuario administrador de ejemplo
-- Contraseña: Admin123! (hash bcrypt)
-- INSERT INTO `usuarios` (`email`, `password_hash`, `nombre`, `apellido`, `cargo`, `area`, `rol`) VALUES
-- ('admin@ejemplo.com', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 'Administrador', 'Sistema', 'Administrador', 'TI', 'admin');

-- Crear algunas vacantes de ejemplo
-- INSERT INTO `vacantes` (`titulo`, `descripcion`, `ciudad`) VALUES
-- ('Desarrollador Full Stack', 'Buscamos desarrollador con experiencia en PHP, MySQL, JavaScript. Conocimientos en seguridad web son un plus.', 'Bogotá'),
-- ('Analista de Datos', 'Profesional con experiencia en análisis de datos, Python, SQL y herramientas de visualización.', 'Medellín'),
-- ('Diseñador UX/UI', 'Diseñador con experiencia en Figma, Adobe XD y prototipado de interfaces web y móviles.', 'Remoto');

-- =====================================================
-- FIN DEL SCHEMA
-- =====================================================
